h1 {
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	text-decoration: underline;
}
.error {
	font-weight: bold;
	color: red;
	text-align: center;
}
.hide {
	display: none;
}
.tableResult caption {
	font-weight: bold;
	font-size: 20px;
}
.tableResult {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
   background-color: #fafafa;
}
.tableResult td {
	border-collapse: collapse;
	word-wrap: break-word;
	padding: 1px 4px 1px 4px;
}
.tableResult tr:first-child {
	background-color: #ff8;
}
.tableResult tr:first-child:hover {
	background-color: #ff8;
}
.tableResult tr:hover {
	background-color: #ddf;
}
.visbleRow {
}
.hiddenRow {
	display: none!important;
}
.tableResult caption {
	font-weight: bold;
	font-size: 20px;
}
.field-cell {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
button {
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px grey;
	border: 0px;
	width: 55px;
	margin: 2px 3px 2px 3px;
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
.selectTable {
	width: 200px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 0px;
	margin: 3px 4px 3px 4px;
}
/* Input */
.required{
    color: #ee9500;
	font-weight: bold;
}
.short-input {
	
}
.round-input {
	border-radius: 3px;
}

/* Button */
.loginButton {
	background-color: #eee;
}
.insertButton {
	background-color: #ff9;
}
.findButton {
	background-color: #f9f;
}
.editButton {
	background-color: #9f9;
}
.removeButton {
	background-color: #f99;
}
.cancelButton {
	background-color: #99f;
	display: none;
}
.backButton {
	width: 100px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.small-button {
	width: 50px;
}
.medium-button {
	width: 150px;
	border-radius: 5px;
}
.large-button {
	width: 450px;
}