h1 {
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 12px;
}
#notification {
	font-weight: bold;
	text-align: center;
	font-size: 17px;
	padding: 4px;
}
input {
	box-sizing: border-box;
}
.left {
	text-align: left!important;
}
.no-padding {
	padding: 0!important;
}
.role-0 > b {
	color: #000;
}
.role-1 > b {
	color: #00e;
}
.role-2 > b {
	color: #0c0;
}
.role-3 > b {
	color: #f00;
}
.error {
	font-weight: bold;
	color: red;
	text-align: center;
}
.success {
	color: #0a0;
}
.warning {
	color: #00a;
}
.hide {
	display: none;
}
.blur {
	opacity : 0;
	-moz-opacity : 0;
	-ms-opacity : 0;
	-o-opacity : 0;
	filter : alpha(opacity=0);
}
.tableResult caption {
	font-weight: bold;
	font-size: 20px;
}
.tableResult {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
   background-color: #fafafa;
}
.tableResult td {
	border-collapse: collapse;
	word-wrap: break-word;
	padding: 1px 4px 1px 4px;
}
.tableResult tr:first-child {
	background-color: #ff8;
	text-align: center;
	font-weight: bold;
}
.tableResult tr:first-child:hover {
	background-color: #ff8;
}
.tableResult tr:hover {
	background-color: #ddf;
}
.tableExam caption {
	font-weight: bold;
	font-size: 20px;
}
.tableExam {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	background-color: #fafafa;
}
.tableExam td {
	border-collapse: collapse;
	word-wrap: break-word;
	padding: 2px 4px 2px 4px;
	border: 1px solid gray;
}
.tableExam tr:first-child {
	background-color: #9dd;
}
.tableExam tr:first-child > td {
	padding: 4px;
	text-align: center;
	font-weight: bold;
}
.tableExam tr:first-child:hover {
	background-color: #ff8;
}
.tableExam tr:hover {
	background-color: #ddf;
}
.visbleRow {
}
.hiddenRow {
	display: none!important;
}
.tableResult caption {
	font-weight: bold;
	font-size: 20px;
}
.field-cell {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
button {
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px grey;
	border: 0px;
	width: 55px;
	height: 18px;
	margin: 2px 3px 2px 3px;
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
.selectTable {
	width: 200px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 0px;
	margin: 3px 4px 3px 4px;
}
/* Input */
.required{
    color: #ee9500;
	font-weight: bold;
}
.short-input {
	width: 50%;
}
.medium-input {
	width: 350px;
}
.round-input {
	border-radius: 3px;
}
.full-input {
	width: 100%;
}

/* Button */
.loginButton {
	background-color: #eee;
}
.insertButton {
	background-color: #ff9;
}
.findButton {
	background-color: #f9f;
}
.editButton {
	background-color: #9f9;
}
.removeButton {
	background-color: #f99;
}
.cancelButton {
	background-color: #99f;
}
.saveButton {
	background-color: orange;
}
.submitButton {
	background-color: green;
	color: white;
}
.backButton {
	width: 100px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.short-button {
	width: 35%;
}
.small-button {
	width: 50px;
}
.double-small-button {
	width: 100px;
}
.medium-button {
	width: 150px;
	border-radius: 5px;
}
.large-button {
	width: 450px;
}